@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    position: relative;
    height: 100vh;
    background-image: url("https://cdn5.f-cdn.com/contestentries/1578585/21468461/5d62b49ac544b_thumb900.jpg");
    background-size: cover;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

.center h1 {
    color: black;
    text-align: center;
}

.txt_field label {
    padding-top: 10px;
    text-justify: auto;
}

.pass {
    /* font-size: 80%; */
    font-style: italic;
    padding-top: 15px;
    color: rgb(21, 7, 37);
    cursor: pointer;
    text-decoration: whitesmoke;
}

.pass:hover {
    text-decoration: underline;
}

input[type="submit"] {
    height: 35px;
    width: 40%;
    margin-left: 50%;
    transform: translateX(-50%);
    align-self: center;
    border: 1px solid;
    background: #86bef3;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    margin-top: 7%;
}

input[type="submit"]:hover {
    border-color: #b1d9ff;
    transition: .5s;
}

.signup_link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #f3eded;
}

.signup_link a {
    color: #f7e11d;
    text-decoration: none;
}

.signup_link a:hover {
    text-decoration: underline;
}